$purple: #3F345A;
$pink: #b31ba3;
$font_default: 'lucida grande', tahoma, verdana, arial, sans-serif;
$font_default_size: 14px;
$font_ygag_light: ygag-light, tahoma, sans-serif;
$font_ygag_bold: ygag-bold, tahoma, sans-serif;
$font_gotham_ligh: 'Gotham', tahoma, sans-serif;
$font_icomoon : 'icomoon';
$color_fb: #3e5b99;
$color_ygag: #b31ba3;
$color_ygag_dark_purple: #3f355a;
$color_ygag_light_purple: #E7E1FA;
$color_ygag_light: #fbf2fa;
$color_hover: #C937B7;
$color_dgrey: #BBBBBB;
$color_corporate:#19227d;
$color_black: #1a1a1a;
$border-color: #b3b3b3;
$default-bagcolor: #f2f2f2;
$color_white: #ffffff;
$screen_xs_p : 320px;
$screen_xs_l : 768px;
$screen_sm_p : 750px;
$screen_sm_l : 1023px;
$screen_md_p : 1024px;
$screen_md_l: 1259px;
$screen_lg_p: 1260px;

